#hero {
    width: 100%;
    height: 55vh;
    background: url("../image/kantor.png") center center ;
    background-size: cover;
    position: relative; 
    padding: 0;    
    filter: brightness(85%);
} 

#hero .jumbotron {
    text-align: center; 
    padding-top: 75px;
    color: #ffffff ;   
    
} 

#hero h4 {
    text-align: center; 
    padding-top: 10px;
    color: #ffffff ;   
}







